body {
  font-family: $main-font;
  color: $main-text-color;
  font-size: 12px;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
  padding: 0;
}

// a {
//   color: $accent-color;
// }
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $main-text-color;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
