body {
  font-family: $main-font;
  color: $primary-text-color;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
  padding: 0;
}

a {
  color: $accent-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $title-text-color;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
