.container {
  padding: 0 $column-gap/2;
  margin-left: auto;
  margin-right: auto;

  @include for-phone-up {
    width: $mobile-width;
    padding: 0px 20px
  }

  @include for-tablet-up {
    width: $tablet-width;
    padding: 0px 75px
  }

  @include for-desktop-up {
    width: $desktop-width;
    padding: 0px 70px
  }
}
