@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 12px;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000000;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, ul {
  margin: 0;
  padding: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.page-container__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 0;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0px 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0px 70px;
  }
}

.home-header_img {
  width: 100%;
  height: 230px;
  background: rgba(0, 0, 0, 0.56);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/headerbg/bgimg.jpg");
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .home-header_img {
    background-image: url("./../images/headerbg/bgimg@2x.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .home-header_img {
    background-image: url("./../images/headerbg/bgimg760.jpg");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 768px) {
  .home-header_img {
    background-image: url("./../images/headerbg/bgimg760@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .home-header_img {
    background-image: url("./../images/headerbg/bgimg1024.jpg");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .home-header_img {
    background-image: url("./../images/headerbg/bgimg1024@2x.jpg");
  }
}

.page-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
}

@media screen and (min-width: 480px) {
  .page-header {
    padding-right: 71px;
    padding-left: 71px;
  }
}

.page-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .page-title {
    display: none;
  }
}

.page-nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
}

@media screen and (max-width: 480px) {
  .page-nav_container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo .header__icon-film {
  margin-right: 12px;
}

.page-nav_wrapper {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-nav_wrapper li {
  list-style-type: none;
  margin-left: 39px;
}

.nav-el {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}

.nav-el:hover, .nav-el:focus {
  color: #ff6b01;
}

.active-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6b01;
}

.header__search-form {
  position: relative;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__search-form {
    max-width: 336px;
  }
}

.header__search-form input {
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  width: 100%;
}

.header__search-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.header__search-form input:-ms-input-placeholder {
  color: #ffffff;
}

.header__search-form input::-ms-input-placeholder {
  color: #ffffff;
}

.header__search-form input::placeholder {
  color: #ffffff;
}

.header__search-form .icon-search {
  position: absolute;
  right: 3px;
  top: 2px;
}

/*  my library-page style */
.library-header__button-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library-header__button-container li {
  display: block;
}

.library-header__button-container li:first-child {
  margin-right: 15px;
}

.library-button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  padding: 14px 37px 12px;
  min-width: 130px;
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  display: block;
}

@media screen and (min-width: 480px) {
  .library-button {
    width: 136px;
  }
}

.library-button_active {
  background-color: #ff6b01;
  border: none;
  -webkit-box-shadow: 1px 1px 36px -3px rgba(255, 107, 1, 0.82);
  box-shadow: 1px 1px 36px -3px rgba(255, 107, 1, 0.82);
}

.modal {
  margin: 20px;
  padding: 48px 20px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  max-width: 460px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 30px;
    max-width: 618px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    padding: 50px 30px;
    max-width: 882px;
  }
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.modal__close {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  color: #ff6b01;
}

.modal__icon {
  fill: currentColor;
}

.poster {
  width: 240px;
  height: 100px;
  background-color: gray;
}

.properties-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.property-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.property-span {
  border: 1px solid grey;
}

.movie-name {
  height: 21px;
  background-color: gray;
  margin-top: 30px;
}

.about-movie {
  height: 20px;
  border: 1px solid grey;
  margin-bottom: 21px;
  margin-top: 10px;
}

.modal-window-buttons {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-window-btn {
  width: 113px;
  height: 44px;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
}

.modal-window-btn:hover, .modal-window-btn:focus {
  color: white;
  background-color: #ff6b01;
  border-color: #ff6b01;
}

@media screen and (min-width: 768px) {
  .footer-modal__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__team-info {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .card__team-info {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .card__team-info {
    margin-right: 10px;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.card__photo {
  border-radius: 50%;
  margin-bottom: 10px;
}

.card__icon {
  margin-right: 8px;
  stroke: #000000;
}

.card__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}

.card__city {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.card__work-info {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card__work-info {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.card__role {
  color: #ff6b01;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}

.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.slider {
  position: relative;
}

.slide {
  display: none;
}

.slide--active {
  display: block;
}

.slider__inner-wrapper {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .slider__inner-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.slider__navigation {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  color: #8c8c8c;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 45%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .slider__navigation {
    top: 50%;
  }
}

.slider__navigation:hover, .slider__navigation:focus {
  color: #ff6b01;
}

.slider__navigation--left {
  left: 0;
}

.slider__navigation--right {
  right: 0;
}

.slider__icon {
  fill: currentColor;
  stroke: white;
}

.slider__dots {
  text-align: center;
}

.slider__dot {
  display: inline-block;
  padding: 8px;
  background-color: #8c8c8c;
  border-radius: 50%;
}

.slider__dot:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .slider__dot {
    width: 40px;
    height: 40px;
    padding: 0;
    overflow: hidden;
  }
}

.slider__dot-photo {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider__dot-photo {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.footer {
  padding: 30px;
  background-color: #f7f7f7;
  color: #545454;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__container {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .footer__container:first-child {
    margin-bottom: 10px;
  }
}

.footer__icon {
  fill: #ff6b01;
}

.footer__link {
  color: #545454;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: #ff6b01;
}

.films {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .films {
    padding-top: 60px;
  }
}

.films__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .films__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .films__list-item {
    width: 100%;
  }
  .films__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .films__list-item {
    width: 294px;
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .films__list-item {
    width: 274px;
  }
}

.one-card__img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.one-card__box-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .one-card__box-img {
    min-width: 280px;
    min-height: 398px;
  }
}

@media screen and (max-width: 767px) {
  .one-card__box-img {
    width: 280px;
    height: 398px;
  }
}

@media screen and (max-width: 1023px) {
  .one-card__box-img {
    width: 294px;
    height: 398px;
  }
}

@media screen and (min-width: 1024px) {
  .one-card__box-img {
    width: 274px;
    height: 398px;
  }
}

.one-card__title-box {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .one-card__title-box {
    min-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .one-card__title-box {
    width: 280px;
  }
}

@media screen and (max-width: 1023px) {
  .one-card__title-box {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .one-card__title-box {
    width: 274px;
  }
}

.one-card__title {
  display: block;
  width: inherit;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.one-card__description {
  display: block;
  color: #ff6b01;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.one-card__box-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.one-card__year {
  margin-right: 10px;
}

.one-card__average {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  background-color: #ff6b01;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */