/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/media-mixins';
@import './base/visually-hidden';
@import './base/common';
@import './base/page-container';
@import './base/container';
@import './layouts/header';
@import './layouts/pagination';

@import './components/spinner';
@import './components/main-images';
@import './components/modal';
@import './components/footer-modal';
@import './components/to-top-btn';
@import './components/modal-trailer';

@import './layouts/footer';
@import './layouts/films-list-section';
@import './layouts/film-list-is-empty';
@import './layouts/one-card';
