<div class="button-delete_container tooltip">
  <span class="tooltiptext">Empty list</span>
  <button class="button_clear-library">
      <use class="delete-icon" width="25" height="25">
        <svg viewBox="0 0 50 50"><path d="M21 0C19.4 0 18 1.4 18 3L18 5 10.2 5A1 1 0 0 0 9.8 5L8 5A1 1 0 1 0 8 7L9.1 7 12.7 47.5 12.7 47.5C12.9 48.9 14 50 15.4 50L34.6 50C36 50 37.1 48.9 37.3 47.5L37.3 47.5 40.9 7 42 7A1 1 0 1 0 42 5L40.2 5A1 1 0 0 0 39.8 5L32 5 32 3C32 1.4 30.6 0 29 0L21 0zM21 2L29 2C29.6 2 30 2.4 30 3L30 5 20 5 20 3C20 2.4 20.4 2 21 2zM11.1 7L18.8 7A1 1 0 0 0 19.2 7L30.8 7A1 1 0 0 0 31.2 7L38.9 7 35.3 47.3C35.3 47.7 35 48 34.6 48L15.4 48C15 48 14.7 47.7 14.7 47.3L11.1 7zM19 10A1 1 0 0 0 18 11L18 44A1 1 0 1 0 20 44L20 11A1 1 0 0 0 19 10zM25 10A1 1 0 0 0 24 11L24 44A1 1 0 1 0 26 44L26 11A1 1 0 0 0 25 10zM31 10A1 1 0 0 0 30 11L30 44A1 1 0 1 0 32 44L32 11A1 1 0 0 0 31 10z"/>
        </svg>
      </use>
      <span class="arrow-slide"></span>
  </button>
</div>