<div class="changable-el">
  {{#if this.isHome}}
      <form class="header__search-form">
        <input
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search film..."
          class=""
        />
        <button type="button" class="button-search">
          <svg height="12" width="12" id="icon-search" viewBox="0 0 12 12">
            <path fill="none" d="M5.5 9.5a4 4 0 100-8 4 4 0 000 8zM10.5 10.5L8.325 8.325" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </form>
  {{else}}
      <div class="library-header__button-wrapper">
        <ul class="library-header__button-container">
          <li><button type="button" class="library-button library-button_active" data-page="watched">Watched</button></li>
          <li><button type="button" class="library-button" data-page="queue">queue</button></li>
        </ul>
      </div>
  {{/if}}
<div>