<div class='modal'>

  <button type='button' class='close-modal-btn'></button>
  <img src='#' alt='poster' class='poster' />
  <h2 class='movie-name'>movie-name</h2>
  <ul class='properties-list'>
    <li class='property-item'><span class='property-span'>Vote/Votes</span><span
        class='property-span'
      ></span></li>
    <li class='property-item'><span class='property-span'>Popularity</span><span
        class='property-span'
      ></span></li>
    <li class='property-item'><span class='property-span'>Original Title</span><span
        class='property-span'
      ></span></li>
    <li class='property-item'><span class='property-span'>Genre</span><span
        class='property-span'
      ></span></li>
  </ul>
  <h3 class='about'>About</h3>
  <p class='about-movie'></p>
  <div class='modal-window-buttons'>
    <button type='button' class='modal-btn'>ADD TO WATCHED</button>
    <button type='button' class='modal-btn'>ADD TO QUEUE</button>
  </div>
</div>