<div class='modal'>
  <div>
    <button type='button' class='modal__close'></button>
    <img src='#' alt='poster' />
    <h2></h2>
    <ul>
      <li><span>Vote/Votes</span><span></span></li>
      <li><span>Popularity</span><span></span></li>
      <li><span>Original Title</span><span></span></li>
      <li><span>Genre</span><span></span></li>
    </ul>
    <h3>About</h3>
    <p></p>
    <button type='button'>ADD TO WATCHED</button>
    <button type='button'>ADD TO QUEUE</button>
  </div>
</div>