{{#each this}}
<li class="films__list-item">
<div class="one-card one-card_home">
    <div>
        <img src={{poster_url}} alt={{title}}>
    </div>
    <div>
        <p>{{title}}</p>
        
        <p>
            {{stringGenries}}
            
        </p>

    </div>
</div>
</li>
{{/each}}