//template variables
$column-gap: 30px;
$column-gap-mobile: 20px;

$animation-time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$container-width: 1200px;

$main-font: 'Roboto', sans-serif;
//end template variables

$header-text-color: #ffffff;
$main-text-color: #000000;
$footer-text-color: #545454;

$accent-color: #ff6b01;
$accent-text-color: #ffffff;

$details-card-main-text-color: #000000;
$details-card-items-text-color: #8c8c8c;

$header-background-color: rgba(48,49,59,0.4);
$main-background-color: #ffffff;
$footer-background-color: #f7f7f7;
$header-background-library-color: #000000
