//template variables
$column-gap: 30px;
$animation-time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;

$container-width: 1200px;

$main-font: 'Roboto', sans-serif;
//enв template variables

$logo-font: 'Raleway', sans-serif;

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
