<header class="header-section home-header_img">
  <div class="page-header">
    <div class="page-nav_container">

      <a href="" class="header-logo navEl" page="home">
        <svg height="24" width="24" class="hednavEler__icon-film">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <h1 class="page-title">Filmoteka</h1>
      </a>
     
      <ul class="page-nav_wrapper">
        <li>
          <button class="nav-el nav-el_button navEl" page="home">HOME</button>  
        </li>
        <li>
          <button class="nav-el nav-el_button navEl" page="library">MY LIBRARY</button>
        </li> 
      </ul>
    </div>
  </div>

</header>
