<div class="container pagination">
    <div class="pagination__counter">
        <button id="btn-left" class="page-arrow previous" type="button">
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="arrow-left">
                    <path id="Vector" d="M12.6666 8H3.33325" stroke="black" stroke-width="1.33333"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_2" d="M7.99992 12.6668L3.33325 8.00016L7.99992 3.3335" stroke="black"
                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
        </button>

        <button id="btn1" class="page-btn active">1</button>
        <span id="dots-left" class="page-btn page-dots visually-hidden">...</span>
        <button id="btn2" class="page-btn">2</button>
        <button id="btn3" class="page-btn">3</button>
        <button id="btn4" class="page-btn">4</button>
        <button id="btn5" class="page-btn">5</button>
        <button id="btn6" class="page-btn">6</button>
        <span id="dots-right" class="page-btn page-dots">...</span>
        <button id="btn7" class="page-btn">1000</button>

        <button id="btn-right" class="page-arrow next" type="button">
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="arrow-right">
                    <path id="Vector_3" d="M3.33341 8H12.6667" stroke="black" stroke-width="1.33333"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path id="Vector_4" d="M8.00008 12.6668L12.6667 8.00016L8.00008 3.3335" stroke="black"
                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
        </button>
    </div>
</div>