.modal {
  margin: $column-gap-mobile;
  padding: 48px $column-gap-mobile;
  color: $details-card-main-text-color;
  background-color: $main-background-color;
  position: relative;

  max-width: 460px;

  @include for-tablet-up {
    padding: 40px $column-gap;
    max-width: 618px;
    margin: 0;
  }

  @include for-desktop-up {
    padding: 50px $column-gap;
    max-width: 882px;
  }
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.modal__close {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  color: $details-card-main-text-color;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: get-transition-prop(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__icon {
  fill: currentColor;
}

// .modal {
//   position: relative;
//   min-width: 280px;
//   background-color: white;
//   padding: 48px 28px;
// }

.poster {
  width: 240px;
  // height: 100px;
  background-color: gray;
}

.properties-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.property-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.property-span {
  border: 1px solid grey;
}

.movie-name {
  height: 21px;
  background-color: gray;
  margin-top: 30px;
}

.about-movie {
  height: 20px;
  border: 1px solid grey;
  margin-bottom: 21px;
  margin-top: 10px;
}

.modal-window-buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.modal-window-btn {
  width: 113px;
  height: 44px;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  &:hover,
  &:focus {
    color: white;
    background-color: $accent-color;
    border-color: $accent-color;
  }
}
