.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 500px;
  overflow-y: auto;
  margin: $column-gap-mobile;
  padding: 48px $column-gap-mobile;
  color: $details-card-main-text-color;
  background-color: $main-background-color;
  position: relative;
  min-width: 280px;
  max-width: 460px;

  @include for-tablet-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px $column-gap;
    min-width: 618px;
    margin: 0;
  }

  @include for-desktop-up {
    justify-content: space-around;
    padding: 50px $column-gap;
    min-width: 882px;
  }
}

ul,
span {
  margin: 0;
}

li {
  margin: 0;
  list-style: none;
}

.modal-window-content {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  @include for-tablet-up {
    width: 264px;
    margin: 0;
  }
  @include for-desktop-up {
    width: 396px;
  }
}

.modal__close {
  border: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  // color: $details-card-main-text-color;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: get-transition-prop(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__icon {
  fill: currentColor;
}

.poster {
  width: 240px;
  margin: 0 0 30px 0;
  @include for-tablet-up {
    width: 264px;
    margin: 0;
  }
  @include for-desktop-up {
    width: 300px;
    height: 430px;
  }
}

.properties {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  @include for-desktop-up {
    width: 260px;
  }
}

.property-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $details-card-items-text-color;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.properties-values {
  width: 120px;
}

.genre {
  line-height: 20px;
}

.value-item {
  color: black;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__genre {
    color: black;
    font-weight: 500;
  }
}

.vote {
  display: inline-block;
  color: white;
  background-color: $accent-color;
  width: 36px;
  text-align: center;
  border-radius: 5px;
}

.movie-name {
  @include for-desktop-up {
    font-size: 30px;
  }
}

.about-movie {
  width: 100%;
  margin-bottom: 21px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 20px;
}

.modal-window-buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include for-desktop-up {
    width: 287px;
  }
}

.modal-window-btn {
  font-weight: 500;
  width: 113px;
  height: 44px;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: get-transition-prop(color);
  &:hover,
  &:focus {
    color: white;
    background-color: $accent-color;
    border-color: $accent-color;
  }
  @include for-tablet-up {
    width: 125px;
  }
  @include for-desktop-up {
    width: 136px;
  }
}

.show-similar-btn {
  width: max-content;
  height: 27px;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid black;
  &:hover,
  &:focus {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}
