.films {
    padding-top: 20px;
}


.films__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.films__list-item {
    background-color: black;
}

@include for-phone-only {
    .films__list-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .films__list-item {
        width: 100%;
    }
}

@include for-tablet-up {
    .films {
        padding-top: 60px;
    }

    .films__list {
        @include elements-set;
        flex-direction: row;
    }

    .films__list-item {
        width: 294px;
        height: 440px;

        @include element;
    }
}

@include for-desktop-up {
    .films__list-item {
        width: 274px;
        height: 440px;
    }
}