.one-card {
  &__img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__box-img {
    margin-bottom: 10px;
    @include for-phone-only {
      max-width: 440px;
    }
    @include for-tablet-up {
      width: 294px;
      height: 398px;
    }
    @include for-desktop-up {
      width: 274px;
      height: 398px;
    }
  }
  &__title-box {
    @include for-phone-only {
      max-width: 440px;
    }
    @include for-tablet-up {
      width: 294px;
    }
    @include for-desktop-up {
      width: 274px;
    }
  }
  &__title {
    display: block;
    width: inherit;
    color: $main-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }
  &__description {
    display: block;
    color: $accent-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
  }
  &__box-description {
    display: flex;
    justify-content: start;
    margin-right: 10px;
  }
  &__average {
    @include flex-centered;
    width: 36px;
    height: 16px;
    color: $accent-text-color;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    background-color: $accent-color;
    border-radius: 5px;
  }
}
