.tui-pagination {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tui-prev,
.tui-next:hover {
  background-color: #ff6b08;
}

.tui-prev-is-ellip,
.tui-next-is-ellip {
  padding-bottom: 5px;
  background-color: $footer-background-color;
}

.tui-page-btn:hover {
  cursor: pointer;
  background-color: #ff6b08;
  color: $accent-text-color;
}

.pagination.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $accent-text-color;

  text-decoration: none;
}

.tui-prev,
.tui-next {
  width: 40px;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: $footer-background-color;
  border-radius: 5px;
}

.tui-prev-is-ellip,
.tui-next-is-ellip {
  &:hover {
    background-color: $accent-text-color;
    cursor: default;
    color: $main-text-color;
  }
}

.tui-is-selected {
  cursor: pointer;
  background-color: #ff6b08;
  color: $accent-text-color;
}
